<form id="form-color-swatch" method="post" data-oc-toggle="ajax" data-oc-load="{{ action }}" data-oc-target="#color-swatch">
  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th class="text-center" style="width: 1px;"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', $(this).prop('checked'));" class="form-check-input"/></th>
          <th class="text-center col-1">{{ column_image }}</th>
          <th><a href="{{ sort_title }}"{% if sort == 'title' %} class="{{ order|lower }}"{% endif %}>{{ column_title }}</a></th>
          <th class="text-center col-1">{{ column_color }}</th>
          <th class="text-center col-1">{{ column_status }}</th>
          <th class="text-end"><a href="{{ sort_sort_order }}"{% if sort == 'sort_order' %} class="{{ order|lower }}"{% endif %}>{{ column_sort_order }}</a></th>
          <th class="text-end col-1">{{ column_action }}</th>
        </tr>
      </thead>
      <tbody>
        {% if color_swatches %}
          {% for color_swatch in color_swatches %}
            <tr>
              <td class="text-center"><input type="checkbox" name="selected[]" value="{{ color_swatch.color_swatch_id }}" class="form-check-input"/></td>
              <td class="text-center">
                {% if color_swatch.image %}
                  <img src="{{ color_swatch.image }}" alt="{{ color_swatch.title }}" class="img-thumbnail"/>
                {% else %}
                  <span class="text-muted">-</span>
                {% endif %}
              </td>
              <td>{{ color_swatch.title }}</td>
              <td class="text-center">
                {% if color_swatch.color_code %}
                  <div style="width: 40px; height: 40px; background-color: {{ color_swatch.color_code }}; border: 1px solid #ddd; margin: 0 auto;"></div>
                  <small>{{ color_swatch.color_code }}</small>
                {% else %}
                  <span class="text-muted">-</span>
                {% endif %}
              </td>
              <td class="text-center">
                {% if color_swatch.status %}
                  <span class="badge bg-success">{{ text_enabled }}</span>
                {% else %}
                  <span class="badge bg-danger">{{ text_disabled }}</span>
                {% endif %}
              </td>
              <td class="text-end">{{ color_swatch.sort_order }}</td>
              <td class="text-end"><a href="{{ color_swatch.edit }}" data-bs-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary"><i class="fa-solid fa-pencil"></i></a></td>
            </tr>
          {% endfor %}
        {% else %}
          <tr>
            <td class="text-center" colspan="7">{{ text_no_results }}</td>
          </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col-sm-6 text-start">{{ pagination }}</div>
    <div class="col-sm-6 text-end">{{ results }}</div>
  </div>
</form>
