{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="float-end">
        <button type="submit" form="form-subscription-plan" data-bs-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa-solid fa-floppy-disk"></i></button>
        <a href="{{ back }}" data-bs-toggle="tooltip" title="{{ button_back }}" class="btn btn-light"><i class="fa-solid fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ol class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ol>
    </div>
  </div>
  <div class="container-fluid">
    <div class="card">
      <div class="card-header"><i class="fa-solid fa-pencil"></i> {{ text_form }}</div>
      <div class="card-body">
        <form id="form-subscription-plan" action="{{ save }}" method="post" data-oc-toggle="ajax">
          <ul class="nav nav-tabs">
            <li class="nav-item"><a href="#tab-general" data-bs-toggle="tab" class="nav-link active">{{ tab_general }}</a></li>
            <li class="nav-item"><a href="#tab-description" data-bs-toggle="tab" class="nav-link">{{ text_description }}</a></li>
            <li class="nav-item"><a href="#tab-image" data-bs-toggle="tab" class="nav-link">{{ text_image_additional }}</a></li>
          </ul>
          <div class="tab-content">
            <!-- General Tab -->
            <div class="tab-pane active" id="tab-general">
              <div class="row mb-3">
                <label for="input-price" class="col-sm-2 col-form-label">{{ entry_price }}</label>
                <div class="col-sm-10">
                  <input type="text" name="price" value="{{ price }}" placeholder="{{ entry_price }}" id="input-price" class="form-control"/>
                </div>
              </div>
              <fieldset>
                <legend>{{ text_trial }}</legend>
                <div class="row mb-3">
                  <label for="input-trial-duration" class="col-sm-2 col-form-label">{{ entry_trial_duration }}</label>
                  <div class="col-sm-10">
                    <input type="text" name="trial_duration" value="{{ trial_duration }}" placeholder="{{ entry_trial_duration }}" id="input-trial-duration" class="form-control"/>
                    <div class="form-text">{{ help_trial_duration }}</div>
                    <div id="error-trial-duration" class="invalid-feedback"></div>
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="input-trial-cycle" class="col-sm-2 col-form-label">{{ entry_trial_cycle }}</label>
                  <div class="col-sm-10">
                    <input type="text" name="trial_cycle" value="{{ trial_cycle }}" placeholder="{{ entry_trial_cycle }}" id="input-trial-cycle" class="form-control"/>
                    <div class="form-text">{{ help_trial_cycle }}</div>
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="input-trial-frequency" class="col-sm-2 col-form-label">{{ entry_trial_frequency }}</label>
                  <div class="col-sm-10">
                    <select name="trial_frequency" id="input-trial-frequency" class="form-select">
                      {% for frequency_option in frequencies %}
                        <option value="{{ frequency_option.value }}"{% if trial_frequency == frequency_option.value %} selected{% endif %}>{{ frequency_option.text }}</option>
                      {% endfor %}
                    </select>
                    <div class="form-text">{{ help_trial_frequency }}</div>
                  </div>
                </div>
                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label">{{ entry_trial_status }}</label>
                  <div class="col-sm-10">
                    <div class="form-check form-switch form-switch-lg">
                      <input type="hidden" name="trial_status" value="0"/>
                      <input type="checkbox" name="trial_status" value="1" id="input-trial-status" class="form-check-input"{% if trial_status %} checked{% endif %}/>
                    </div>
                  </div>
                </div>
              </fieldset>
              <fieldset>
                <legend>{{ text_subscription }}</legend>
                <div class="row mb-3">
                  <label for="input-duration" class="col-sm-2 col-form-label">{{ entry_duration }}</label>
                  <div class="col-sm-10">
                    <input type="text" name="duration" value="{{ duration }}" placeholder="{{ entry_duration }}" id="input-duration" class="form-control"/>
                    <div class="form-text">{{ help_duration }}</div>
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="input-cycle" class="col-sm-2 col-form-label">{{ entry_cycle }}</label>
                  <div class="col-sm-10">
                    <input type="text" name="cycle" value="{{ cycle }}" placeholder="{{ entry_cycle }}" id="input-cycle" class="form-control"/>
                    <div class="form-text">{{ help_cycle }}</div>
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="input-frequency" class="col-sm-2 col-form-label">{{ entry_frequency }}</label>
                  <div class="col-sm-10">
                    <select name="frequency" id="input-frequency" class="form-select">
                      {% for frequency_option in frequencies %}
                        <option value="{{ frequency_option.value }}"{% if frequency == frequency_option.value %} selected{% endif %}>{{ frequency_option.text }}</option>
                      {% endfor %}
                    </select>
                    <div class="form-text">{{ help_frequency }}</div>
                  </div>
                </div>
                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label">{{ entry_status }}</label>
                  <div class="col-sm-10">
                    <div class="form-check form-switch form-switch-lg">
                      <input type="hidden" name="status" value="0"/>
                      <input type="checkbox" name="status" value="1" id="input-status" class="form-check-input"{% if status %} checked{% endif %}/>
                    </div>
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="input-sort-order" class="col-sm-2 col-form-label">{{ entry_sort_order }}</label>
                  <div class="col-sm-10">
                    <input type="number" name="sort_order" value="{{ sort_order }}" placeholder="{{ entry_sort_order }}" id="input-sort-order" class="form-control"/>
                  </div>
                </div>
              </fieldset>
            </div>

            <!-- Description Tab with Language Support -->
            <div class="tab-pane" id="tab-description">
              <ul class="nav nav-tabs">
                {% for language in languages %}
                  <li class="nav-item"><a href="#language-{{ language.language_id }}" data-bs-toggle="tab" class="nav-link{% if loop.first %} active{% endif %}"><img src="{{ language.image }}" title="{{ language.name }}"/> {{ language.name }}</a></li>
                {% endfor %}
              </ul>
              <div class="tab-content">
                {% for language in languages %}
                  <div id="language-{{ language.language_id }}" class="tab-pane{% if loop.first %} active{% endif %}">
                    <div class="row mb-3 required mt-3">
                      <label for="input-name-{{ language.language_id }}" class="col-sm-2 col-form-label">{{ entry_name }}</label>
                      <div class="col-sm-10">
                        <input type="text" name="subscription_plan_description[{{ language.language_id }}][name]" value="{{ subscription_plan_description[language.language_id] ? subscription_plan_description[language.language_id].name }}" placeholder="{{ entry_name }}" id="input-name-{{ language.language_id }}" class="form-control"/>
                        <div id="error-name-{{ language.language_id }}" class="invalid-feedback"></div>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label for="input-description-{{ language.language_id }}" class="col-sm-2 col-form-label">{{ entry_description }}</label>
                      <div class="col-sm-10">
                        <div class="form-control h-100 p-0 border-0 rounded-0">
                          <textarea name="subscription_plan_description[{{ language.language_id }}][description]" placeholder="{{ entry_description }}" id="input-description-{{ language.language_id }}" data-oc-toggle="ckeditor" data-lang="{{ ckeditor }}" class="w-100 position-relative">{{ subscription_plan_description[language.language_id] ? subscription_plan_description[language.language_id].description }}</textarea>
                          
                        </div>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>

            <!-- Images Tab -->
            <div class="tab-pane" id="tab-image">
              <fieldset>
                <legend>{{ text_image_additional }}</legend>
                <div class="table-responsive">
                  <table id="subscription-plan-image" class="table table-bordered table-hover">
                    <thead>
                      <tr>
                        <th>{{ entry_image }}</th>
                        <th>{{ entry_sort_order }}</th>
                        <th class="text-end"></th>
                      </tr>
                    </thead>
                    <tbody>
                      {% set image_row = 0 %}
                      {% for subscription_plan_image in subscription_plan_images %}
                        <tr id="subscription-plan-image-row-{{ image_row }}">
                          <td>
                            <div class="border rounded d-block" style="max-width: 300px;">
                              <img src="{{ subscription_plan_image.thumb }}" alt="" title="" id="subscription-plan-image-{{ image_row }}" data-oc-placeholder="{{ placeholder }}" class="img-fluid"/> <input type="hidden" name="subscription_plan_image[{{ image_row }}][image]" value="{{ subscription_plan_image.image }}" id="input-subscription-plan-image-{{ image_row }}"/>
                              <div class="d-grid">
                                <button type="button" data-oc-toggle="image" data-oc-target="#input-subscription-plan-image-{{ image_row }}" data-oc-thumb="#subscription-plan-image-{{ image_row }}" class="btn btn-primary rounded-0"><i class="fa-solid fa-pencil"></i> {{ button_edit }}</button>
                                <button type="button" data-oc-toggle="clear" data-oc-target="#input-subscription-plan-image-{{ image_row }}" data-oc-thumb="#subscription-plan-image-{{ image_row }}" class="btn btn-warning rounded-0"><i class="fa-regular fa-trash-can"></i> {{ button_clear }}</button>
                              </div>
                            </div>
                          </td>
                          <td><input type="text" name="subscription_plan_image[{{ image_row }}][sort_order]" value="{{ subscription_plan_image.sort_order }}" placeholder="{{ entry_sort_order }}" class="form-control"/></td>
                          <td class="text-end"><button type="button" onclick="$('#subscription-plan-image-row-{{ image_row }}').remove();" data-bs-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa-solid fa-minus-circle"></i></button></td>
                        </tr>
                        {% set image_row = image_row + 1 %}
                      {% endfor %}
                    </tbody>
                    <tfoot>
                      <tr>
                        <td colspan="2"></td>
                        <td class="text-end"><button type="button" id="button-image" data-bs-toggle="tooltip" title="{{ button_image_add }}" class="btn btn-primary"><i class="fa-solid fa-plus-circle"></i></button></td>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </fieldset>
            </div>
          </div>
          <input type="hidden" name="subscription_plan_id" value="{{ subscription_plan_id }}" id="input-subscription-plan-id"/>
        </form>
      </div>
    </div>
  </div>
</div>
{{ footer }}

<script type="text/javascript"><!--
// Initialize CKEditor for textareas
$('textarea[data-oc-toggle=\'ckeditor\']').ckeditor({
    language: '{{ ckeditor }}'
});

var image_row = {{ subscription_plan_images|length }};

$('#button-image').on('click', function() {
    var html = '';

    html += '<tr id="subscription-plan-image-row-' + image_row + '">';
    html += '  <td>';
    html += '    <div class="border rounded d-block" style="max-width: 300px;">';
    html += '      <img src="{{ placeholder }}" alt="" title="" id="subscription-plan-image-' + image_row + '" data-oc-placeholder="{{ placeholder }}" class="img-fluid"/> <input type="hidden" name="subscription_plan_image[' + image_row + '][image]" value="" id="input-subscription-plan-image-' + image_row + '"/>';
    html += '      <div class="d-grid">';
    html += '        <button type="button" data-oc-toggle="image" data-oc-target="#input-subscription-plan-image-' + image_row + '" data-oc-thumb="#subscription-plan-image-' + image_row + '" class="btn btn-primary rounded-0"><i class="fa-solid fa-pencil"></i> {{ button_edit }}</button>';
    html += '        <button type="button" data-oc-toggle="clear" data-oc-target="#input-subscription-plan-image-' + image_row + '" data-oc-thumb="#subscription-plan-image-' + image_row + '" class="btn btn-warning rounded-0"><i class="fa-regular fa-trash-can"></i> {{ button_clear }}</button>';
    html += '      </div>';
    html += '    </div>';
    html += '  </td>';
    html += '  <td><input type="text" name="subscription_plan_image[' + image_row + '][sort_order]" value="" placeholder="{{ entry_sort_order }}" class="form-control"/></td>';
    html += '  <td class="text-end"><button type="button" onclick="$(\'#subscription-plan-image-row-' + image_row + '\').remove();" data-bs-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa-solid fa-minus-circle"></i></button></td>';
    html += '</tr>';

    $('#subscription-plan-image tbody').append(html);

    // Reinitialize tooltip for the new button
    if (typeof $('[data-bs-toggle="tooltip"]').tooltip === 'function') {
        $('[data-bs-toggle="tooltip"]').tooltip();
    }

    image_row++;
});

// Handle image removal by row
$(document).on('click', '#subscription-plan-image tbody button.btn-danger', function() {
    $(this).closest('tr').remove();
});
//-->
</script>

