<div  style="background-color: #f5f5f5;">
  <div class="container topics-module" >
    <h3 class="text-center py-3">DISCOVER THE WORLD OF RENKRENK</h3>
    <div class="row justify-content-center">
      {% for item in items %}
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="card h-100 border-0">
          <a href="{{ item.href }}">
            <img src="{{ item.image }}" alt="{{ item.name }}" class="card-img-top"/>
          </a>
          <div class="card-body text-left">
            <h2 class="card-title">
              <a href="{{ item.href }}">{{ item.name|upper }}</a>
            </h2>
            {% if item.description %}
              <p class="card-text">{{ item.description }}</p>
            {% endif %}
              <a class="readmore" href="{{ item.href }}">READ MORE</a>

          </div>
        </div>
      </div>
      {% if loop.index % 3 == 0 %}
    </div><div class="row justify-content-center">
      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
